body {

  background-image: url(img/dark.jpg);
    /* animation: fade 20s ease-in-out infinite; */
}

div{
  top:50%;
  left:50%;
  position: absolute;
  transition: all 8s ease-in-out;
}
h2 {
  color: red;
    font-family: 'Oswald', sans-serif;
}
h3 {
  font-family: 'Oswald', sans-serif;
  color: red;
}

p {
  color:red;
  width:200px;
  height: auto;
  font-family: 'Oswald', sans-serif;
}
.container{
  opacity:1;
  margin: -300px 0 0 -700px;
}
.container:hover {
  opacity:0;
}
/* div:hover{
  transform: scale(3, 3);
} */
.bat {
    background: url('img/batmove.png');
  width: 210px;
  height: 161px;
  margin: 2em auto;
  animation: fly .7s steps(10) infinite;
}
.move:hover{
  position: absolute;
  animation: move 2s ease-in-out infinite;
}

@keyframes fly {
  100% { background-position: -2124px 0;
  }
}


 @keyframes move {
from{
  transform: rotate(0deg);
}
to{
  transform: rotate(360deg);
}
}
/* Standard syntax */
@keyframes fade {
0% {background-color: white;}
50%{background-color: black;}
100% {background-color: white;}
}
